# ================================================================================
# Ignore selected folders and file types from the repository.
# ================================================================================

*.[dD][bB]
*.[dD][sS]_[sS][tT][oO][rR][eE]
*.[iI][nN[iI]
*.[lL][nN][kK]
